.p6{
    color: var(--stdWhite);
    margin-bottom: 4px;
  }
  .section5-h3{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.02px;
  }
.fig-div{
    text-align: center;
    background-color: var(--sec3bg);
    margin: 20px;
    padding: 20px;  
    border-radius: 10px;
  }
  .fig-child{
    background-color: var(--stdbg);
    padding: 20px;
    border-radius: 15px;
  }
 .fig-inp{
  margin-top: 20px;
  border: 1px solid white;
 }
 .fig-button{
  margin: 20px 20px;
  padding: 13px 13px;
  background-color: var(--stdblue);
  color: var(--stdWhite);
    border-radius: 8px;

 }
 .card5-img1 , .card5-img3{
  width: 23px;
 }
 .card5-img2{
  width: 32px;
 }
 
 .figcaption h4{
  color: var(--stdWhite);
  font-size: larger;
  margin: 12px;
  text-align: start;
 }
 
 .div-last{
  background-color: var(--stdbg);
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
 }
 .img-div{
  text-align: start;
  margin: 0px 10px 0px;
 }
 .clr-26{
  color: var(--stdblue);
 }
 .img-span{
  margin-left: 50px;
 }
 .tab-card , .desk-card{
  display: none;
 }
 .la-div{
   display: flex;
   justify-content: center;
 }

 .lbtn{
    color: white;
    border: 1px solid grey;
    padding: 12px 15px;
    border-radius: 20px;
 }
 .lbtn:hover{
  border: 1px solid var(--stdblue);
  color: var(--stdblue);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 @media (min-width: 768px) {
  .effect-form5:hover{
    transform: translateY(-20px);
    background-color: black;
   
  } 
  .fig-div{
        margin: 15px;
  
  } 
 }
 @media (min-width: 992px) {
    .card-parent{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
      }
      
      .card-child{
        width: 23%;
      }
      .desk-card{
        display: block;
      }
    
 }