.cta {
  padding: 20px 10px;
  text-align: center;
}

.cta h1 {
  padding-top: 20px;
  font-size: 22px;
  margin-bottom: 9px;
  color: var(--stdWhite);
}

.cta p {
  font-size: 14px;
  margin-bottom: 25px;
  color: var(--stdWhite);
}

.cta-button {
  padding: 13px 13px;
  background-color: var(--stdblue);
  color: var(--stdWhite);
  border-radius: 25px;
}

.cta-button:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ctaimg {
  width: 19px;
}

.cc {
  border: 2px solid #1e293b;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 15px;
  width: 94vw;
  max-width: 300px;
  padding: 7px 13px;
  margin: 0 auto;
}

.bt {
  background-color: #1e1f30;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 36px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 4px;
  margin-left: 8px;
}
/* .bt {
  background-color: #1e1f30;
  border-radius: 50%;
  width: 59px;
  height: 39px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

} */

.ctaimgl {
  width: 23px;
  height: 12px;
  margin-bottom: 5px;
}

/* section  */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  gap: 16px;
}

.box {
  background: linear-gradient(to bottom, #05071a, #0f1123);
  border: 2px solid #0d0f21;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.box p {
  color: var(--stdWhite);
  margin: 0;
  font-size: 14px;
}

.box {
  width: 129px;
  height: 129px;
}

.one {
  display: flex;
  justify-content: center;
}
.oneimg {
  width: 24px;
}

/* .effect-form:hover {
  transform: translateY(-20px);
  background-color: black;
} */

@media (min-width: 768px) {
  .container {
    padding: 20px;
    gap: 20px;
    max-width: 768px;
    margin: 0 auto;
  }

  .box {
    width: 184px;
    height: 154px;
  }

  .bt {
    width: 51px;
    height: 44px;
  }
  .cc {
    font-size: 16px;
    /* padding: 12px 12px 12px 25px; */
    max-width: 350px;
    /* width: 50vw; */
  }

  .pc {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .box {
    width: 184px;
    height: 154px;
  }
  .cc {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 4px 7px 4px 27px;
    max-width: 350px;
  }
  .cta {
    margin-bottom: 25px;
  }

  .cta h1 {
    font-size: 48px;
    color: var(--stdWhite);
    /* margin: 0 231px; */
  }
  .cta p {
    font-size: 16px;
    margin-bottom: 25px;
    padding-top: 17px;
    color: var(--stdWhite);
    /* margin: 0 304px; */
    padding-bottom: 28px;
  }
  .oneimg {
    width: 40px;
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
