.sec6 {
  padding-top: 30px;
}

.h2faq {
  font-size: 21px;
  color: var(--stdWhite);
  font-weight: 600;
  line-height: 26.63px;
}

.sec6-p {
  font-size: 14px;
  color: var(--stdWhite);
  padding: 0px 14px;
  font-weight: 500;
}

.sec6-div,
.sec6-div2 {
  margin-bottom: 30px;
}

.sec6-main {
  background: linear-gradient(to bottom, #05071a, #0f1123);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #282a3a;
}

.get-button {
  /* border: 1px solid #748bed; */
  color: white;
  background-color: #4b6bfb;
  padding: 10px 22px;
  border-radius: 22px;
  cursor: pointer;
  margin-top: 20px;
}

.get-button:hover {
  color: black;
  background-color: white;
  transform: scale(1.08);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.spara {
  color: var(--stdgrey);
  padding-top: 20px;
}

@media (min-width: 768px) {
  .sec6 {
    display: flex;
    gap: 30px;
  }

  .sec6-div,
  .sec6-div2 {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .sec6 {
    margin: 0 103px;
  }

  .sec6-main {
    margin-top: 60px;
    text-align: start;
  }

  .h2faq {
    font-size: 38px;
    text-align: start;
    padding-left: 15px;
  }

  .sec6-p {
    font-size: 16px;
  }

  .p6 {
    font-weight: 600;
  }
}

.faq-acc-btn {
  background-color: #040619;
  color: white;
}

.faq-acc-btn:not(.collapsed) {
  background-color: #040619;
  color: white;
  box-shadow: none;
}

.faq-acc-btn:focus {
  background-color: #040619;
  color: white;
  box-shadow: none;
}

.ab-faq {
  background-color: #040619;
  color: whitesmoke;
  font-size: 14px;
}

.ai-faq {
  background-color: #040619;
  border: 1px solid #282a3a;
  padding: 15px;
}

/* .accordion-header button {
  background-color: #040619;
  color: white;
} */

.faq-acc-btn.collapsed::after,
.faq-acc-btn:not(.collapsed)::after {
  color: white !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}
