/* General styles */

.mobile-section {
  display: block;
}

.desktop-section {
  display: none;
}

.navbar {
  margin: 0 11px;
}

.butdrop {
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 8px;
  background-color: #3f59d4;
  margin-top: 18px;
}

.navbar {
  background-color: var(--stdbg);
}

.mainlogo {
  width: 143.02px;
  height: 36.78px;
}

.nav-link,
.dropdown-item {
  color: var(--stdWhite) !important;
}

.nav-link:hover,
.dropdown-item:hover {
  color: var(--stdblue) !important;
}

.sbtn {
  padding: 10px 20px;
  background-color: var(--stdblue);
  color: var(--stdWhite);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.sbtn:hover {
  background-color: #356bb3;
}

.arrow {
  width: 13px;
  height: 10px;
}

.mh {
  border-top: 1px solid #3e3f4e;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("../assets/nav-and-cta/Group 84.png"); /* Use your custom image */
  background-size: cover;
  width: 24px;
  height: 24px;
}

/* Media queries */
@media (min-width: 768px) {
  .mobile-section {
    display: block;
  }

  .desktop-section {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-section {
    display: none;
  }

  .desktop-section {
    display: block;
  }

  .mh {
    display: none;
  }

  .navul li a {
    color: var(--stdWhite);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--stdbg);
    border-bottom: 1px solid #3e3f4e;
  }

  .mainlogo {
    width: 164.93px;
    height: 42.25px;
  }

  .navul {
    color: var(--stdWhite);
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
  }

  .navul li:hover {
    color: var(--stdblue);
  }

  .sbtn {
    display: block;
    padding: 10px 20px;
    background-color: var(--stdblue);
    color: var(--stdWhite);
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .sbtn:hover {
    background-color: #470ca0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .arrow {
    width: 13px;
    height: 10px;
  }
}
