@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --stdWhite: #ffffff;
    --stdblack:#000000;
    --stdbg: #040619;
    --stdblue: #4b6bfb;
    --stdgrey:#c3c3c8;
    --sec3bg: #1a1b2d;
  }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "inter" , sans-serif;

}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button,
input {
  background-color: transparent;
}

body {
    background-color:var(--stdbg);
}
